 
body {
	font-size: $primary-font-size!important;
	line-height: 1.8;
	overflow-x: hidden;

	a:hover {
		text-decoration: none;
	} 
}
.topbar {
	padding: $secondary-padding;
	background: $fourth-color;

	i {
		color: $primary-color;
		font-size: 120%;
	}

	div {
		color: $fifth-color;
		padding: 0;
	}

	.topbar__user {
		text-align: $text-align-right;
		a {
			color: $fifth-color;
			cursor: pointer;
		}
	}

} //topbar


.header {
	padding: $secondary-padding;
	background: $fifth-color;
	line-height: 53px;

	.header__logo {
		padding: 0;

		a {
			display: block;
	    	color: $fourth-color;
	    	font-size: 160%;

	    	span {
	    		color: $primary-color;
	    	}
		}
	}


	.header__nav ul {
		display: inline-block;
    	list-style: none;

    	.header__list {
    		display: inline-block;
		    margin-right: 40px;
		    font-weight: 500;
		    text-transform: uppercase;
		    cursor: pointer;

		    a {
		    	color: $fourth-color;
		    	text-decoration: none;
		    }
    	}

	}

	.header__icon {
	    text-align: $text-align-right;
	    font-size: 120%;

	    .header__icon--search {
    		padding-right: 2em;
		}
	}
}




.slider {

	.flexslider__img {
		width: 100%;
		height: 500px;
	}
	.flexslider__content {
		position: absolute;
	    top: 0;
	    width: 50%;
	    height: 100%;
	    background: $slider-bg;
	    padding: 3em 3em 2em 5em;
	    color: $fifth-color;

	    h2{
	    	font-weight: $font-weight;
	    }

	    p {
	    	line-height: 1.5em;
	    	padding: 2em 0;
	    }

	    a {
	    	margin-left: 0!important;
	    }

	    .flexslider__btn {
			@extend %view-more-btn;
	    }
		.flexslider__btn:hover {
	    	@extend %secondary_btn_hover 
		}
	}

	.flexslider__content:after {
		content: "";
		width: 0;
    	height: 0;
    	border-right: 150px solid transparent;
    	left: 100%;
    	border-bottom: 500px solid $slider-bg;
    	position: absolute;
    	top: 0;
	}


// Flexslider Animation
	.flexslider li.flex-active-slide h2 {
	    -webkit-animation-delay: 300ms;
	    animation-delay: 300ms;
	    @extend %flexslider_animation;
	    
	}

	.flexslider li.flex-active-slide p {
	    -webkit-animation-delay: 700ms;
	    animation-delay: 700ms;
	    @extend %flexslider_animation;
	}

	.flexslider li.flex-active-slide a {
	    -webkit-animation-delay: 1000ms;
	    animation-delay: 1000ms;
	    @extend %flexslider_animation;
	}

	
}

	
	


.content {
	    padding: $primary-padding;

	h2 {
		@extend %content-title;
	}

}

.available-products{
	background: $third-color;
	.product {
		padding: $primary-padding;
		h2 {
			@extend %content-title;
		}
		.product__item:hover .product__item--number{
			background: $secondary-color;
			transform: scale(1.1);
			transition: all 2s cubic-bezier(0.23, 1, 0.32, 1) 0s;
		}

		.product__item:hover a{
			color: $secondary-color;
		}
		.product__item--number {
		    width: 80px;
		    height: 80px;
		    background: $primary-color;
		    border-radius: 100%;
		    text-align: $text-align-center;
		    font-size: 150%;
		    color: $fifth-color;
		    margin-right: auto;
		    line-height: 80px;
		    margin-top: 0.5em;
		    transition: all 2s cubic-bezier(0.23, 1, 0.32, 1) 0s;
		}

		a {
			color: $primary-color;
		}

		

	}

	.products__btn {
		@extend %view-more-btn;
	}

	.products__btn:hover {
		@extend %secondary_btn_hover;
	}
}


.packages {
	background: $primary-color;
	.package {
		padding: $primary-padding;

		.package__item {
			background: $fifth-color;
			padding: 0.5em 2em 2em 2em;
			position: relative;
			border-radius: 1em;
			margin: 0 1em;
			transition: all 2s cubic-bezier(0.23, 1, 0.32, 1) 0s;
			box-shadow: 10px 10px 5px rgba(12, 12, 12, 0.26);
		}
		
		.package__item:hover .package__img{
			transform: scale(1.1);
    		transition: all 2s cubic-bezier(0.23, 1, 0.32, 1) 0s;
		}

		h2 {
			@extend %content-title;
			color: $fifth-color;
		}

		.package__img {
			float: $text-align-left;
			position: absolute;
    		top: -3%;
    		left: -8%;
    		transition: all 2s cubic-bezier(0.23, 1, 0.32, 1) 0s;

			img {
				width: 120px;
				height: 120px;
				border-radius: 50%;
				padding: 8px;
				background: $primary-color;
			}
		}

		.package__title {
			text-align: $text-align-right;
			text-transform: uppercase;

			.package__price{
				sup {
					color: #383838;
				}
				color: $secondary-color;
				font-size: 150%;
			}
		}

		.package__btn,
		.flexslider__btn {
			@extend %view-more-btn;
		}

		.package__btn:hover {
			@extend %secondary_btn_hover;
		}

		.package__body {
			margin-top: 1em;

			a {
				margin-bottom: 0em;
			}
		}
	}
}

.starting {
	padding: $primary-padding;
	h2 {
		@extend %content-title;
	}
	
	.starting__btn-primary  {
		@extend %user_btn;
		background: $primary-color;
		margin-left: auto;
	}

	.starting__btn-secondary {
		@extend %user_btn;
		background: $secondary-color;
	}

	.starting__btn-primary:hover {
		@extend %primary_btn_hover;
	}

	.starting__btn-secondary:hover {
		@extend %secondary_btn_hover;
	}
	
}

.footer {
    background: $fourth-color;
    padding: $primary-padding;
    color: $fifth-color;

    h4 {
    	font-weight: $font-weight;
    	margin-bottom: 1.5em;
    	font-size: 20px;
    }

    .social_icons {

    	padding-bottom: 1em;
    	border-bottom: 1px solid #fbfbfb36;

    	i {
    		font-size: 170%;
    		padding-right: 1em;
    		color: $fifth-color;
    	}


    }

    .address {
		padding-top: 1em;

		i {
			font-size: 140%;
			color: $primary-color;
		}
    }
    ul {
    	list-style: none;
    	padding: 0;

    	li {
    		margin-bottom: 1em;

    		a {
    			color: $fifth-color;
    		}
    	}
    }
}


.client {
	background: $third-color;
	padding: $primary-padding;

	h2 {
		@extend %content-title;
	}

}

.copyright {
	background: $footer-color;
    text-align: $text-align-center;
    padding: $secondary-padding;
    color: $fifth-color;
}


.preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: visible;
  // background: url('/images/software-loader.gif') no-repeat center center;
}




