.crumb {

	position: relative;

	.crumb__img {
		width: 100%;
		height: 200px;

		img {
			width: 100%;
			height: 100%;
		}
	}

	.crumb__content {
	    position: absolute;
	    top: 0;
	    text-align: $text-align-center;
	    width: 100%;
	    height: 100%;
	    background: $slider-bg;
	    line-height: 100%;

	    .crumb__title {
			line-height: 200px;
			height: 200px;
			color: $fifth-color;

			h3 {
				display: inline-block;
			}
	    }
	}

}
// Crumb

.product__list {
	margin-bottom: 2em;

	.available-products {
		background: $fifth-color;
		
		.product {
			padding: 1em 0;

			.product__item {
				border-bottom: 1px solid #d6d6d6;
				margin: 0;
				padding-bottom: 1em;
			}
		}
		
	}
}

.package_list {
	margin-bottom: 3em;
	.packages {
		background: $fifth-color;

		.package {
			padding: 0;
		}

		.package__item {
			box-shadow: 0px 0px 10px 0px rgba(138,135,138,0.8);	
		}
	}


}

// Pagination

.paginate{

	text-align: $text-align-center;
    margin-top: 2em;

	ul {
	list-style: none;
	display: inline-block;
	padding: 0;
	margin-top: 10px;

		li{
			display: inline;
			text-align: center;
		}

		a{
			float: left;
			display: block;
			font-size: 16px;
			text-decoration: none;
			padding: 8px 15px;
			color: $secondary-color;
			margin-left: 1px;
			line-height: 1.5;
			background: $third-color;
		}

	  	a.active,
	    a:hover {  
	    	cursor: default;
	    	background: $secondary-color;
	    	color: $fifth-color;
	    	outline: none;
	    }
	}
}


