.login {
	background: $third-color;

	.container {
		display: flex;
		justify-content: center;
	}
	.user__login {

		background: $fifth-color;
	    box-shadow: 10px 10px 5px rgba(12, 12, 12, 0.26);
	    width: 500px;
	    margin: $primary-padding;

		button.user__login--close {
			padding: 0.5em 1em;

			span {
				font-size: 1.5em;
			}
	}
}
	
    .login__input {
    	padding:  3em;

    	h2 {
			text-align: center;
			text-transform: uppercase;

		}

		form {
			padding-top: 1em;
		}

    	input {
		    border: none;
		    width: 100%;
		    background: #ddd;
		    border-radius: 0;
		}

		input::placeholder {
			color: $fifth-color;
		}

		a {
			float: right;
			color: $secondary-color;
			font-weight: $font-weight;
		}
		
		p {
			text-align: center;

			a {
				float: none;
				color: $primary-color;
				font-weight: $font-weight;
			}
		}
		.btn {
			background: $primary-color;
		}

		.btn:hover {
			@extend %primary_btn_hover;
		}
    }
	
} 
// User Login & Register


.welcome {
	background: $third-color;
	padding: 3em 0em;

	div {
		
    	box-shadow: 10px 10px 5px rgba(12, 12, 12, 0.26);
    	background: $fifth-color;
    	padding: 3em;

    	h2 {
			font-weight: 700;
			text-align: $text-align-center;
			margin-bottom: 1em;
		}

		p {
			padding: 0 2em;
			text-align: $text-align-center;
			line-height: 2em;
			
		}

		span {
			color: $secondary-color;
		}

		.welcome__guide {
			color: $secondary-color;
			display: block;
			text-align: center;
		}


		.welcome__btn {
			@extend %view-more-btn;
		}
	}

}

// Sitemap
.sitemap {
	.footer {
	color: $secondary-font-color;;
	background: $fifth-color;
		h4 {
			border-bottom: 1px solid #d6d6d6;
    		padding-bottom: 1.5em;
    		color: $primary-font-color;
		}
		a {
			color: $secondary-font-color;
			cursor: default;
		}


	}
}
// Sitemap

// Privacy-Policy
.privacy-policy {
	padding: $primary-padding;

	.panel-group {
		margin-bottom: 0;

		.panel-default {
			border: 1px solid #ffffff;
		    border-radius: 0;
		    box-shadow: 0px 0px 10px 0px rgba(138, 135, 138, 0.42);
		    margin-bottom: 1.5em;

		    .panel-heading {
		    	background-color: #ffffff;
		    	padding: 0em;

		    	a {
		    		position: relative;
		    		padding: 1em;
    				display: block;
    				font-size: 18px;
		    	}
		    }

		    .panel-body  {
		    	border-top-color: #ddd;
		    }
		}
	}
}

[data-toggle="collapse"]:after {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\F068";
    transition: all linear 0.25s;
    position: absolute;
    top: 15px;
    right: 15px;
    text-align: center;
    width: 25px;
    height: 25px;
    line-height: 28px;
} 

[data-toggle="collapse"]:before {
	content: "";
    width: 1px;
    height: 100%;
    background: #ececec;
    position: absolute;
    top: 0;
    right: 55px;
}
[data-toggle="collapse"].collapsed:after {
  
  content: "\f067 ";
}
