// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;



// BKP PAYMENT
$primary-color: #71b85f;
$secondary-color: #db9c70;
$third-color: #f5f5f5;
$fourth-color: #333;
$fifth-color: #fff;
$text-color: #000;
$footer-color: #555;
$slider-bg: #71b75fc7;
$line-height: 1.5em;
$text-width: 30em;
$primary-padding: 1em 4em 1em 4em;
$text-align-right: right; 
$text-align-left: left;
$text-align-center: center;
$font-weight: 700;
$primary-font-size: 16px;


// Mixins


// Home
a.header__list--active {
    color: $primary-color!important;
}

%content-title {
	text-align: center;
	margin-bottom: 1em;
	text-transform: uppercase;
	margin: 2em 0;
}

%view-more-btn {
	display: block;
    width: 150px;
    background: $secondary-color;
    padding: 0.5em;
    text-align: center;
    color: $fifth-color;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
    margin-top: 1em;
}

%user_btn {
	display: block;
    width: 120px;
    padding: 0.5em;
    text-align: center;
    color: $fifth-color;
    margin-top: 1em;
}
%primary_btn_hover {
	background: #316324;
}

%secondary_btn_hover {
	background: #c16f35;
}


%flexslider_animation {
	-webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}
// Home


// User Login/Register

