@import url(https://fonts.googleapis.com/css?family=Nunito);@charset "UTF-8";

a.header__list--active {
  color: #71b85f !important;
}

.client h2,
.starting h2,
.packages .package h2,
.available-products .product h2,
.content h2 {
  text-align: center;
  margin-bottom: 1.5em;
  text-transform: uppercase;
  margin-top: 0;
  font-weight: 700;
  color: #555;
}

.welcome div .welcome__btn,
.packages .package .package__btn,
.packages .package .flexslider__btn,
.available-products .products__btn,
.slider .flexslider__content .flexslider__btn {
  display: block;
  width: 150px;
  background: #db9c70;
  padding: 0.5em;
  text-align: center;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  margin-bottom: 3em;
}

.starting .starting__btn-secondary,
.starting .starting__btn-primary {
  display: block;
  width: 120px;
  padding: 0.5em;
  text-align: center;
  color: #fff;
  margin-top: 1em;
}

.login .login__input .btn:hover,
.starting .starting__btn-primary:hover {
  background: #316324;
}

.starting .starting__btn-secondary:hover,
.packages .package .package__btn:hover,
.available-products .products__btn:hover,
.slider .flexslider__content .flexslider__btn:hover {
  background: #c16f35;
}

.slider .flexslider li.flex-active-slide a,
.slider .flexslider li.flex-active-slide p,
.slider .flexslider li.flex-active-slide h2 {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

body {
  font-size: 16px !important;
  line-height: 1.8;
  overflow-x: hidden;
}

body a:hover {
  text-decoration: none;
}

.topbar {
  padding: 1em 0em;
  background: #333;
}

.topbar i {
  color: #71b85f;
  font-size: 120%;
}

.topbar div {
  color: #fff;
  padding: 0;
}

.topbar .topbar__user {
  text-align: right;
}

.topbar .topbar__user a {
  color: #fff;
  cursor: pointer;
}

.header {
  padding: 1em 0em;
  background: #fff;
  line-height: 53px;
}

.header .header__logo {
  padding: 0;
}

.header .header__logo a {
  display: block;
  color: #333;
  font-size: 160%;
}

.header .header__logo a span {
  color: #71b85f;
}

.header .header__nav ul {
  display: inline-block;
  list-style: none;
}

.header .header__nav ul .header__list {
  display: inline-block;
  margin-right: 40px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
}

.header .header__nav ul .header__list a {
  color: #333;
  text-decoration: none;
}

.header .header__icon {
  text-align: right;
  font-size: 120%;
}

.header .header__icon .header__icon--search {
  padding-right: 2em;
}

.slider .flexslider__img {
  width: 100%;
  height: 500px;
}

.slider .flexslider__content {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  background: #71b75fc7;
  padding: 3em 3em 2em 5em;
  color: #fff;
}

.slider .flexslider__content h2 {
  font-weight: 700;
}

.slider .flexslider__content p {
  line-height: 1.5em;
  padding: 2em 0;
}

.slider .flexslider__content a {
  margin-left: 0 !important;
}

.slider .flexslider__content:after {
  content: "";
  width: 0;
  height: 0;
  border-right: 150px solid transparent;
  left: 100%;
  border-bottom: 500px solid #71b75fc7;
  position: absolute;
  top: 0;
}

.slider .flexslider li.flex-active-slide h2 {
  -webkit-animation-delay: 300ms;
  animation-delay: 300ms;
}

.slider .flexslider li.flex-active-slide p {
  -webkit-animation-delay: 700ms;
  animation-delay: 700ms;
}

.slider .flexslider li.flex-active-slide a {
  -webkit-animation-delay: 1000ms;
  animation-delay: 1000ms;
}

.content {
  padding: 3em 0em;
}

.available-products {
  background: #f5f5f5;
}

.available-products .product {
  padding: 3em 0em;
}

.available-products .product .product__item:hover .product__item--number {
  background: #db9c70;
  transform: scale(1.1);
  transition: all 2s cubic-bezier(0.23, 1, 0.32, 1) 0s;
}

.available-products .product .product__item:hover a {
  color: #db9c70;
}

.available-products .product .product__item--number {
  width: 80px;
  height: 80px;
  background: #71b85f;
  border-radius: 100%;
  text-align: center;
  font-size: 150%;
  color: #fff;
  margin-right: auto;
  line-height: 80px;
  margin-top: 0.5em;
  transition: all 2s cubic-bezier(0.23, 1, 0.32, 1) 0s;
}

.available-products .product a {
  color: #71b85f;
}

.packages {
  background: #71b85f;
}

.packages .package {
  padding: 3em 0em;
}

.packages .package .package__item {
  background: #fff;
  padding: 0.5em 2em 2em 2em;
  position: relative;
  border-radius: 1em;
  margin: 0 1em;
  transition: all 2s cubic-bezier(0.23, 1, 0.32, 1) 0s;
  box-shadow: 10px 10px 5px rgba(12, 12, 12, 0.26);
}

.packages .package .package__item:hover .package__img {
  transform: scale(1.1);
  transition: all 2s cubic-bezier(0.23, 1, 0.32, 1) 0s;
}

.packages .package h2 {
  color: #fff;
}

.packages .package .package__img {
  float: left;
  position: absolute;
  top: -3%;
  left: -8%;
  transition: all 2s cubic-bezier(0.23, 1, 0.32, 1) 0s;
}

.packages .package .package__img img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  padding: 8px;
  background: #71b85f;
}

.packages .package .package__title {
  text-align: right;
  text-transform: uppercase;
}

.packages .package .package__title .package__price {
  color: #db9c70;
  font-size: 150%;
}

.packages .package .package__title .package__price sup {
  color: #383838;
}

.packages .package .package__body {
  margin-top: 1em;
}

.packages .package .package__body a {
  margin-bottom: 0em;
}

.starting {
  padding: 3em 0em;
}

.starting .starting__btn-primary {
  background: #71b85f;
  margin-left: auto;
}

.starting .starting__btn-secondary {
  background: #db9c70;
}

.footer {
  background: #333;
  padding: 3em 0em;
  color: #fff;
}

.footer h4 {
  font-weight: 700;
  margin-bottom: 1.5em;
  font-size: 20px;
}

.footer .social_icons {
  padding-bottom: 1em;
  border-bottom: 1px solid #fbfbfb36;
}

.footer .social_icons i {
  font-size: 170%;
  padding-right: 1em;
  color: #fff;
}

.footer .address {
  padding-top: 1em;
}

.footer .address i {
  font-size: 140%;
  color: #71b85f;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer ul li {
  margin-bottom: 1em;
}

.footer ul li a {
  color: #fff;
}

.client {
  background: #f5f5f5;
  padding: 3em 0em;
}

.copyright {
  background: #555;
  text-align: center;
  padding: 1em 0em;
  color: #fff;
}

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: visible;
}

.login {
  background: #f5f5f5;
}

.login .container {
  display: flex;
  justify-content: center;
}

.login .user__login {
  background: #fff;
  box-shadow: 10px 10px 5px rgba(12, 12, 12, 0.26);
  width: 500px;
  margin: 3em 0em;
}

.login .user__login button.user__login--close {
  padding: 0.5em 1em;
}

.login .user__login button.user__login--close span {
  font-size: 1.5em;
}

.login .login__input {
  padding: 3em;
}

.login .login__input h2 {
  text-align: center;
  text-transform: uppercase;
}

.login .login__input form {
  padding-top: 1em;
}

.login .login__input input {
  border: none;
  width: 100%;
  background: #ddd;
  border-radius: 0;
}

.login .login__input input::-webkit-input-placeholder {
  color: #fff;
}

.login .login__input input::-moz-placeholder {
  color: #fff;
}

.login .login__input input:-ms-input-placeholder {
  color: #fff;
}

.login .login__input input::-ms-input-placeholder {
  color: #fff;
}

.login .login__input input::placeholder {
  color: #fff;
}

.login .login__input a {
  float: right;
  color: #db9c70;
  font-weight: 700;
}

.login .login__input p {
  text-align: center;
}

.login .login__input p a {
  float: none;
  color: #71b85f;
  font-weight: 700;
}

.login .login__input .btn {
  background: #71b85f;
}

.welcome {
  background: #f5f5f5;
  padding: 3em 0em;
}

.welcome div {
  box-shadow: 10px 10px 5px rgba(12, 12, 12, 0.26);
  background: #fff;
  padding: 3em;
}

.welcome div h2 {
  font-weight: 700;
  text-align: center;
  margin-bottom: 1em;
}

.welcome div p {
  padding: 0 2em;
  text-align: center;
  line-height: 2em;
}

.welcome div span {
  color: #db9c70;
}

.welcome div .welcome__guide {
  color: #db9c70;
  display: block;
  text-align: center;
}

.sitemap .footer {
  color: #333;
  background: #fff;
}

.sitemap .footer h4 {
  border-bottom: 1px solid #d6d6d6;
  padding-bottom: 1.5em;
  color: #555;
}

.sitemap .footer a {
  color: #333;
  cursor: default;
}

.privacy-policy {
  padding: 3em 0em;
}

.privacy-policy .panel-group {
  margin-bottom: 0;
}

.privacy-policy .panel-group .panel-default {
  border: 1px solid #ffffff;
  border-radius: 0;
  box-shadow: 0px 0px 10px 0px rgba(138, 135, 138, 0.42);
  margin-bottom: 1.5em;
}

.privacy-policy .panel-group .panel-default .panel-heading {
  background-color: #ffffff;
  padding: 0em;
}

.privacy-policy .panel-group .panel-default .panel-heading a {
  position: relative;
  padding: 1em;
  display: block;
  font-size: 18px;
}

.privacy-policy .panel-group .panel-default .panel-body {
  border-top-color: #ddd;
}

[data-toggle=collapse]:after {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\F068";
  transition: all linear 0.25s;
  position: absolute;
  top: 15px;
  right: 15px;
  text-align: center;
  width: 25px;
  height: 25px;
  line-height: 28px;
}

[data-toggle=collapse]:before {
  content: "";
  width: 1px;
  height: 100%;
  background: #ececec;
  position: absolute;
  top: 0;
  right: 55px;
}

[data-toggle=collapse].collapsed:after {
  content: "\F067";
}

.crumb {
  position: relative;
}

.crumb .crumb__img {
  width: 100%;
  height: 200px;
}

.crumb .crumb__img img {
  width: 100%;
  height: 100%;
}

.crumb .crumb__content {
  position: absolute;
  top: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  background: #71b75fc7;
  line-height: 100%;
}

.crumb .crumb__content .crumb__title {
  line-height: 200px;
  height: 200px;
  color: #fff;
}

.crumb .crumb__content .crumb__title h3 {
  display: inline-block;
  border: 1px solid #fff;
  padding: 1em;
  text-transform: uppercase;
}

.product__list {
  margin-bottom: 2em;
}

.product__list .available-products {
  background: #fff;
}

.product__list .available-products .product {
  padding: 1em 0;
}

.product__list .available-products .product .product__item {
  border-bottom: 1px solid #d6d6d6;
  margin: 0;
  padding-bottom: 1em;
}

.package_list {
  margin-bottom: 3em;
}

.package_list .packages {
  background: #fff;
}

.package_list .packages .package {
  padding: 0;
}

.package_list .packages .package__item {
  box-shadow: 0px 0px 10px 0px rgba(138, 135, 138, 0.8);
}

.paginate {
  text-align: center;
  margin-top: 2em;
}

.paginate ul {
  list-style: none;
  display: inline-block;
  padding: 0;
  margin-top: 10px;
}

.paginate ul li {
  display: inline;
  text-align: center;
}

.paginate ul a {
  float: left;
  display: block;
  font-size: 16px;
  text-decoration: none;
  padding: 8px 15px;
  color: #db9c70;
  margin-left: 1px;
  line-height: 1.5;
  background: #f5f5f5;
}

.paginate ul a.active,
.paginate ul a:hover {
  cursor: default;
  background: #db9c70;
  color: #fff;
  outline: none;
}

.product-detail {
  padding: 3em 0em;
}

.product-detail .tab-content .tab-pane {
  width: 100%;
  height: 300px;
}

.product-detail .tab-content .tab-pane img {
  width: 100%;
  height: 100%;
}

.product-detail .nav-pills img {
  width: 20%;
  padding-top: 1em;
  padding-right: 1em;
  float: left;
}

.product-detail .buy-now {
  text-align: center;
  padding: 0 3em;
  padding: #f5f5f5;
}

.product-detail .buy-now .buy-product__date-input {
  padding: 2em 0;
}

.product-detail .buy-now input#start-date,
.product-detail .buy-now input#end-date {
  background: none;
  margin-bottom: 2em;
  font-weight: 300;
  border: none;
  font-size: 18px;
  border-bottom: 1px solid #86b66f;
  transition: all 0.2s ease;
  outline: 0;
  border-radius: 0;
  box-shadow: none;
}

