@import url(https://fonts.googleapis.com/css?family=Nunito);a.header__list--active {
  color: #71b85f !important;
}

.client h2,
.starting h2,
.packages .package h2,
.available-products .product h2,
.content h2 {
  text-align: center;
  margin-bottom: 1em;
  text-transform: uppercase;
  margin: 2em 0;
}

.welcome div .welcome__btn,
.packages .package .package__btn,
.packages .package .flexslider__btn,
.available-products .products__btn,
.slider .flexslider__content .flexslider__btn {
  display: block;
  width: 150px;
  background: #db9c70;
  padding: 0.5em;
  text-align: center;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  margin-top: 1em;
}

.starting .starting__btn-secondary,
.starting .starting__btn-primary {
  display: block;
  width: 120px;
  padding: 0.5em;
  text-align: center;
  color: #fff;
  margin-top: 1em;
}

.user__login .login__input .btn:hover,
.starting .starting__btn-primary:hover {
  background: #316324;
}

.starting .starting__btn-secondary:hover,
.packages .package .package__btn:hover,
.available-products .products__btn:hover,
.slider .flexslider__content .flexslider__btn:hover {
  background: #c16f35;
}

.slider .flexslider li.flex-active-slide a,
.slider .flexslider li.flex-active-slide p,
.slider .flexslider li.flex-active-slide h2 {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

body {
  font-size: 16px !important;
  line-height: 1.8;
  overflow-x: hidden;
}

body a:hover {
  text-decoration: none;
}

.topbar {
  padding: 1em 4em 1em 4em;
  background: #333;
}

.topbar i {
  color: #71b85f;
  font-size: 120%;
}

.topbar div {
  color: #fff;
  padding: 0;
}

.topbar .topbar__user {
  text-align: right;
}

.topbar .topbar__user a {
  color: #fff;
  cursor: pointer;
}

.header {
  padding: 1em 4em 1em 4em;
  background: #fff;
  line-height: 53px;
}

.header .header__logo {
  padding: 0;
}

.header .header__logo a {
  display: block;
  color: #333;
  font-size: 160%;
}

.header .header__logo a span {
  color: #71b85f;
}

.header .header__nav ul {
  display: inline-block;
  list-style: none;
}

.header .header__nav ul .header__list {
  display: inline-block;
  margin-right: 40px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
}

.header .header__nav ul .header__list a {
  color: #333;
  text-decoration: none;
}

.header .header__icon {
  text-align: right;
  font-size: 120%;
}

.header .header__icon .header__icon--search {
  padding-right: 2em;
}

.slider .flexslider__img {
  width: 100%;
  height: 500px;
}

.slider .flexslider__content {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  background: #71b75fc7;
  padding: 3em 3em 2em 5em;
  color: #fff;
}

.slider .flexslider__content h2 {
  font-weight: 700;
}

.slider .flexslider__content p {
  line-height: 1.5em;
  padding: 2em 0;
}

.slider .flexslider__content a {
  margin-left: 0 !important;
}

.slider .flexslider__content:after {
  content: "";
  width: 0;
  height: 0;
  border-right: 150px solid transparent;
  left: 100%;
  border-bottom: 500px solid #71b75fc7;
  position: absolute;
  top: 0;
}

.slider .flexslider li.flex-active-slide h2 {
  -webkit-animation-delay: 300ms;
  animation-delay: 300ms;
}

.slider .flexslider li.flex-active-slide p {
  -webkit-animation-delay: 700ms;
  animation-delay: 700ms;
}

.slider .flexslider li.flex-active-slide a {
  -webkit-animation-delay: 1000ms;
  animation-delay: 1000ms;
}

.content {
  padding: 0em 3em 5em 3em;
}

.available-products {
  background: #f5f5f5;
  padding-bottom: 5em;
}

.available-products .product {
  padding: 1em 4em 1em 4em;
}

.available-products .product .product__item {
  cursor: pointer;
}

.available-products .product .product__item:hover .product__item--number {
  background: #db9c70;
  transform: scale(1.1);
  transition: all 2s cubic-bezier(0.23, 1, 0.32, 1) 0s;
}

.available-products .product .product__item:hover a {
  color: #db9c70;
}

.available-products .product .product__item--number {
  width: 80px;
  height: 80px;
  background: #71b85f;
  border-radius: 100%;
  text-align: center;
  font-size: 150%;
  color: #fff;
  margin-right: auto;
  line-height: 80px;
  margin-top: 0.5em;
  transition: all 2s cubic-bezier(0.23, 1, 0.32, 1) 0s;
}

.available-products .product a {
  color: #71b85f;
}

.packages {
  background: #71b85f;
  padding-bottom: 5em;
}

.packages .package {
  padding: 1em 5em;
}

.packages .package .package__item {
  background: #fff;
  padding: 0.5em 2em 2em 2em;
  position: relative;
  border-radius: 1em;
  margin: 0 1em;
  transition: all 2s cubic-bezier(0.23, 1, 0.32, 1) 0s;
  box-shadow: 10px 10px 5px rgba(94, 94, 94, 0.65);
}

.packages .package .package__item:hover .package__img {
  transform: scale(1.2);
  transition: all 2s cubic-bezier(0.23, 1, 0.32, 1) 0s;
}

.packages .package h2 {
  color: #fff;
}

.packages .package .package__img {
  float: left;
  position: absolute;
  top: -3%;
  left: -8%;
  transition: all 2s cubic-bezier(0.23, 1, 0.32, 1) 0s;
}

.packages .package .package__img img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  padding: 8px;
  background: #71b85f;
}

.packages .package .package__title {
  text-align: right;
  text-transform: uppercase;
}

.packages .package .package__title .package__price {
  color: #db9c70;
  font-size: 170%;
}

.packages .package .package__title .package__price sup {
  color: #383838;
}

.packages .package .package__body {
  margin-top: 1em;
}

.starting {
  padding-bottom: 5em;
}

.starting .starting__btn-primary {
  background: #71b85f;
  margin-left: auto;
}

.starting .starting__btn-secondary {
  background: #db9c70;
}

.footer {
  background: #333;
  padding: 2em 3em;
  color: #fff;
}

.footer h3 {
  font-weight: 700;
  margin-bottom: 1.5em;
}

.footer .social_icons {
  padding-bottom: 2em;
  border-bottom: 1px solid #fbfbfb36;
}

.footer .social_icons i {
  font-size: 170%;
  padding-right: 1em;
  color: #fff;
}

.footer .address {
  padding-top: 1.5em;
}

.footer .address i {
  font-size: 140%;
  color: #71b85f;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer ul li {
  margin-bottom: 1em;
}

.footer ul li a {
  color: #fff;
}

.client {
  background: #f5f5f5;
}

.client .client__slider {
  padding: 0 2em 3em 2em;
}

.copyright {
  background: #555;
  text-align: center;
  padding: 1em;
  color: #fff;
}

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: visible;
}

.user__login {
  padding: 2em;
}

.user__login button.user__login--close {
  padding: 0.5em 1em;
}

.user__login button.user__login--close span {
  font-size: 1.5em;
}

.user__login .login__input {
  padding: 3em;
}

.user__login .login__input h2 {
  text-align: center;
  text-transform: uppercase;
}

.user__login .login__input form {
  padding-top: 1em;
}

.user__login .login__input input {
  border: none;
  width: 100%;
  background: #ddd;
  border-radius: 0;
}

.user__login .login__input input::-webkit-input-placeholder {
  color: #fff;
}

.user__login .login__input input::-moz-placeholder {
  color: #fff;
}

.user__login .login__input input:-ms-input-placeholder {
  color: #fff;
}

.user__login .login__input input::-ms-input-placeholder {
  color: #fff;
}

.user__login .login__input input::placeholder {
  color: #fff;
}

.user__login .login__input a {
  float: right;
  color: #db9c70;
  font-weight: 700;
}

.user__login .login__input p {
  text-align: center;
}

.user__login .login__input p a {
  float: none;
  color: #71b85f;
  font-weight: 700;
}

.user__login .login__input .btn {
  background: #71b85f;
}

.welcome {
  background: #f5f5f5;
}

.welcome div {
  margin: 2em 3em;
  box-shadow: 10px 10px 5px rgba(171, 171, 171, 0.65);
  background: #fff;
  padding: 3em;
}

.welcome div h2 {
  font-weight: 700;
  text-align: center;
  margin-bottom: 1em;
}

.welcome div p {
  padding: 0 2em;
  text-align: center;
  line-height: 2em;
}

.welcome div span {
  color: #db9c70;
}

.welcome div .welcome__guide {
  color: #db9c70;
  display: block;
  text-align: center;
}

.crumb {
  position: relative;
}

.crumb .crumb__img {
  width: 100%;
  height: 200px;
}

.crumb .crumb__img img {
  width: 100%;
  height: 100%;
}

.crumb .crumb__content {
  position: absolute;
  top: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  background: #71b75fc7;
  line-height: 100%;
}

.crumb .crumb__content .crumb__title {
  line-height: 200px;
  height: 200px;
  color: #fff;
}

.crumb .crumb__content .crumb__title h3 {
  display: inline-block;
}

.product__list .available-products {
  background: #fff;
}

.paginate {
  text-align: center;
  margin-top: 2em;
}

.paginate ul {
  list-style: none;
  display: inline-block;
  padding: 0;
  margin-top: 10px;
}

.paginate ul li {
  display: inline;
  text-align: center;
}

.paginate ul a {
  float: left;
  display: block;
  font-size: 16px;
  text-decoration: none;
  padding: 8px 15px;
  color: #db9c70;
  margin-left: 1px;
  line-height: 1.5;
  background: #f5f5f5;
}

.paginate ul a.active,
.paginate ul a:hover {
  cursor: default;
  background: #db9c70;
  color: #fff;
  outline: none;
}

